@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

:root {
    --red-color: #ED185A;
    --light-bg: #364254;
    --mid-bg: #313C4C;
    --dark-bg:#222A36;
  }

body {
    font-family: 'Fjalla One', sans-serif;
    text-transform: uppercase;
    padding: 3em;
    background-color: var(--dark-bg);
    color:#fff;
  }
h1{
    position: relative;
    top:5vh;
}  
.card{
    background-color: var(--mid-bg);
}
.card-footer{
    background-color: var(--light-bg)
}
.card-footer a{
    color: var(--red-color);
}
#button-addon2{
  background-color: var(--dark-bg);
    color:var(--red-color);
}

.btn-primary{
  background-color: var(--red-color);
  color: white;
  border: white;
}
.btn-primary:hover{
  background-color: #b91d4f;
  color: white;
  border: white;
}
.btn-primary:active{
  background-color: #f32f6d;
  color: white;
  border: white;
}
.btn-primary-dis{
  pointer-events: none;
  background-color: #80374e;
}
.text-red{
 color: var(--red-color);
}




  
  [data-quantity] {
    position: relative;
    width: 100%;
    max-width: 11rem;
    padding: 0;
    margin: 30px 0;
    border: 0;
  }
  
  [data-quantity] legend {
    display: none;
  }
  
  [data-quantity] input {
    font-size: 18px;
    height: 4rem;
    padding: 0 4rem;
    border-radius: 2rem;
    border: 0;
    background: #fff;
    color: #222;
    box-shadow: 0 10px 65px -10px rgba(0, 0, 0, 0.25);
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    font-weight: lighter;
  }
  
  [data-quantity] input:focus {
    outline: none;
    box-shadow: 0 5px 55px -10px rgba(0, 0, 0, 0.2), 0 0 4px #3fb0ff; /* Allows border radius on focus */
  }
  
  [data-quantity] input[type=number]::-webkit-inner-spin-button,
  [data-quantity] input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  [data-quantity] input[type=number] {
    -moz-appearance: textfield;
  }
  
  [data-quantity] button {
    position: absolute;
    width: 2.8rem;
    height: 2.8rem;
    top: 0.6rem;
    display: block;
    padding: 0;
    margin: 0;
    border: 0;
    background: #fff
      url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100" height="50"><path d="M17 25h16M67 25h16M75 17v16" fill="none" stroke="rgb(59,69,66)" stroke-width="1.5px" stroke-linecap="round" stroke-linejoin="round" /></svg>')
      no-repeat 0 0;
    background-size: 5.6rem 2.8rem;
    overflow: hidden;
    white-space: nowrap;
    text-indent: 100%;
    border-radius: 1.4rem;
    cursor: pointer;
    transition: opacity 0.15s;
    opacity: 0.5;
  }
  
  [data-quantity] button:active {
    background-position-y: 1px;
    box-shadow: inset 0 2px 12px -4px #c5d1d9;
  }
  
  [data-quantity] button:focus {
    outline: none;
  }
  
  [data-quantity] button:hover {
    opacity: 1;
  }
  
  [data-quantity] button.sub {
    left: 0.6rem;
  }
  
  [data-quantity] button.add {
    right: 0.6rem;
    background-position-x: -2.8rem;
  }

  .center{
    margin-left: auto;
    margin-right: auto;
    width: 11em
  }

 

  /* PC */
@media only screen and (min-width: 541px) {
    /*fieldset{
        position: relative;
        top: 50%;
        left: 5.5vw;
        }*/
    .card-text{
        position: relative;
        top: 2.4vh;
    }
    .card-text-inv{
      position: relative;
      top: 1.2vh;
    }
  }
  
  /* PHONE */
  @media only screen and (max-width: 540px) {
    /*fieldset{
        position: relative;
        left: 2vw;
        }*/
    .card-text{
        position: relative;
        top: 2.4vh;
      }
    .card-text-inv{
        position: relative;
        top: 1.2vh;
    }
  }
