body{
    background-color: #35363A;
    color:#969BA1;
    }



.container {  display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 5px 0px;
    grid-auto-flow: row;
    justify-content: space-between;
    align-content: space-between;
    justify-items: center;
    grid-template-areas:
      "four . five . six"
      "fourGuess fiveGuess sixGuess sevenGuess eightGuess"
      ". inviteLink inviteLink inviteLink ."
      ". playButton playButton playButton .";
    width: 85%;
    height: 80%;
  }
  
  .four { grid-area: four; }
  
  .five { grid-area: five; }
  
  .six { grid-area: six; }
  
  .fourGuess { grid-area: fourGuess; }
  
  .fiveGuess { grid-area: fiveGuess; }
  
  .sixGuess { grid-area: sixGuess; }
  
  .sevenGuess { grid-area: sevenGuess; }
  
  .eightGuess { grid-area: eightGuess; }
  
  .playButton { grid-area: playButton; }
  
  .inviteLink { grid-area: inviteLink; }



  

  
/*
div{
    border: 1px;
    border-style: solid;
}
*/



input{
    line-height: 10px;
    height: fit-content;
}

#button-addon2{
    height:fit-content;
}

.buttonNormal{
background:    #3d85c6;
border-radius: 15%;
padding:       15px 25px;
color:         #ffffff;
display:       inline-block;
font-size:     1.5em;
text-align:    center;
border: 0px;
}

.buttonNormal:hover {
    background-color: #5091ca;
    color: #ffffff;
  }
.buttonNormal:active {
    background-color: #296aa3;
    color: #ffffff;
  }

.buttonHighlight{
background:    #3d85c6;
background:    linear-gradient(#3d85c6, #3577b4);
border-radius: 1000px;
box-shadow:    -2px 2px #444444;
padding:       24px 31px;
color:         #ffffff;
display:       inline-block;
text-align:    center;
}


/* If the screen size is 601px or more, PC!!! */ 
@media only screen and (min-width: 601px) {
    .labelTitle{
        position: relative;
        right: -1.2vw;
        top: -2.5vh;
        white-space: nowrap;
    }
    .labelNumber{
        position: relative;
        right: -1.5vw;
        top: -1.5vh;
    }
  }
  
  /* If the screen size is 600px or less, PHONE!! */
  @media only screen and (max-width: 991px) {
    .labelTitle{
        position: relative;
        right: 0vw;
        top: -2.5vh;
        white-space: nowrap;
    }
    .labelNumber{
        position: relative;
        right: 0vw;
        top: -1.5vh;
    }
  }
