
.game-window{
    float:left;
    width: 45vw;
}

.border-primary{
    border-color: #ED185A!important;
}

.opp-window{
    float:right;
    width: 35vw;
}

.hide-on-mobile{
    display: none;
  }

.guess-grid{
  display: grid;
  justify-content: center;
  align-content: center;
  flex-grow: 1;
  grid-template-columns: repeat(5, 4em);
  grid-template-rows: repeat(6, 4em);
  gap: .25em;
}

.tile{
  font-size: 2em;
  color: white;
  border: 0.1em solid #ed185b7f;
  text-transform: uppercase;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}
.tile[data-state="active"]{
  border-color: #ED185A;
}
.tile[data-state="wrong"]{
  border: none;
  background-color: #4a5465;
}
.tile[data-state="wrong-location"]{
  border: none;
  background-color:  #B59F3B;
}
.tile[data-state="correct"]{
  border: none;
  background-color: #538D4E;
}


  /* PC */
  @media only screen and (min-width: 981px) {
    .hide-on-mobile{
      display: block;
    }
  }
    
    /* PHONE */
    @media only screen and (max-width: 980px) {
        .game-window{
            width: 90vw;
        }
      .hide-on-mobile{
        display: none;
      }
  }
