
.game-window{
    float:left;
    width: 45vw;
}

.border-primary{
    border-color: #ED185A!important;
}

.highlight-color{
  color: #ED185A!important;
}

.opp-window{
    float:right;
    width: 35vw;
}

.hide-on-mobile{
    display: none;
  }

.guess-grid{
  display: grid;
  justify-content: center;
  align-content: center;
  flex-grow: 1;
  gap: .25em;
}

.tile{
  font-size: 2em;
  color: white;
  border: 0.1em solid #ed185b7f;
  text-transform: uppercase;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  transition: transform 250ms linear;
}
.tile[data-state="active"]{
  border-color: #ED185A;
}
.tile[data-state="wrong"]{
  border: none;
  background-color: #4a5465;
}
.tile[data-state="wrong-location"]{
  border: none;
  background-color:  #B59F3B;
}
.tile[data-state="correct"]{
  border: none;
  background-color: #538D4E;
}

.tile.flip{
  transform: rotateX(90deg);
}

.alert-container{
  position: fixed;
  top: 10vh;
  left: 50vw;
  transform: translateX(-50%);
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.alert{
  pointer-events: none;
  background-color: #ed185b63;
  padding: .75em;
  border-radius: .25em;
  opacity: 1;
  transition: opacity 500ms ease-in-out;
  margin-bottom: .5em;
}

.alert:last-child{
  margin-bottom: 0;
}

.alert.hide{
  opacity: 0;
}

.setup-card{
  width: 25em;
}


  /* PC */
  @media only screen and (min-width: 981px) {
    .hide-on-mobile{
      display: block;
    }
  }
    
    /* PHONE */
    @media only screen and (max-width: 980px) {
        .game-window{
            width: 90vw;
        }
      .hide-on-mobile{
        display: none;
      }
  }
