
.game-window{
    float:left;
    width: 45vw;
}

.border-primary{
    border-color: #ED185A!important;
}

.opp-window{
    float:right;
    width: 35vw;
}

.hide-on-mobile{
    display: none;
  }

  /* PC */
  @media only screen and (min-width: 981px) {
    .hide-on-mobile{
      display: block;
    }
  }
    
    /* PHONE */
    @media only screen and (max-width: 980px) {
        .game-window{
            width: 90vw;
        }
      .hide-on-mobile{
        display: none;
      }
  }
